.gradle
build/
!gradle/wrapper/gradle-wrapper.jar
!**/src/main/**/build/
!**/src/test/**/build/

### STS ###
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans
.sts4-cache
bin/
!**/src/main/**/bin/
!**/src/test/**/bin/

### IntelliJ IDEA ###
.idea
*.iws
*.iml
*.ipr
out/
!**/src/main/**/out/
!**/src/test/**/out/


### NetBeans ###
/nbproject/private/
/nbbuild/
/dist/
/nbdist/
/.nb-gradle/

### VS Code ###
.vscode/

# Spring Boot
*.jar
*.war

# Environment
.env

# macOS
.DS_Store

lambda/aggregator.zip
lambda/aggregator/node_modules/
lambda/aggregator/package-lock.json
lambda/loader.zip
lambda/loader/node_modules/
lambda/loader/package-lock.json

# Terraform
infra/.terraform/
infra/.terraform.lock.hcl
infra/*.tfstate
infra/*.tfstate.backup
infra/*.tfvars
infra/crash.log
infra/.terraform.tfstate.lock.info